{% extends "base.twig" %}

{% block content %}
<div class="container">
  <h2>Your account: {{currentUser.name}}</h2>
  <a class="btn btn-danger" href="/logout" role="button">Logout</a>
  {% if error is not null %}
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{error}}
    </div>
  {% endif %}
  <form action="/account" method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" value="{{currentUser.name}}">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" value="{{currentUser.email}}">
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" value="{{currentUser.username}}">
    </div>
    {% if currentUser.isStaff() %}
      <div class="form-group">
        <label for="title">Tile</label>
        <input type="text" class="form-control" id="title" name="title" value="{{currentUser.title}}">
      </div>
    {% endif %}
    {% if currentUser.isCustomer() %}
      <div class="form-group">
        <label for="travel_document">Travel Document</label>
        <input type="text" class="form-control" id="travel_document" name="travel_document" value="{{currentUser.travelDocument}}">
      </div>
      <div class="form-group">
        <label for="billing_address">Billing Address</label>
        <input type="text" class="form-control" id="billing_address" name="billing_address" value="{{currentUser.billingAddress}}">
      </div>
      <div class="form-group">
        <label for="phone_number">Phone Number</label>
        <input type="text" class="form-control" id="phone_number" name="phone_number" value="{{currentUser.phoneNumber}}">
      </div>
      <div class="form-group">
        <label for="seat_preference">Seat Preference</label>
        <select id="payment_information" class="form-control" name="seat_preference">
          <option value="ECONOMY" {% if (currentUser.seatPreference == "ECONOMY") %}selected{% endif %}>Economy</option>
          <option value="BUSINESS" {% if (currentUser.seatPreference == "BUSINESS") %}selected{% endif %}>Business</option>
          <option value="FIRST" {% if (currentUser.seatPreference == "FIRST") %}selected{% endif %}>First Class</option>
        </select>
      </div>
      <div class="form-group">
        <label for="payment_information">Payment Information</label>
        <input type="text" class="form-control" id="payment_information" name="payment_information" value="{{currentUser.paymentInformation}}">
      </div>
    {% endif %}
    {% if currentUser.isLoyaltyMember() %}
      <div class="form-group">
        <label for="points">Points</label>
        <input type="text" class="form-control" id="points" name="points" disabled value="{{currentUser.points}}">
      </div>
    {% endif %}
    <button type="submit" class="btn btn-primary">Update Account</button>
  </form>
  <form action="/account/password" method="post">
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" pattern=".{3,}" required title="3 characters minimum">
    </div>
    <button type="submit" class="btn btn-danger">Change Password</button>
  </form>
</div>
{% endblock %}
