{% extends "base.twig" %}

{% block content %}
<div class="container">
  <h2>Aircrafts:</h2>

  <form class="form-inline" id="query-aircrafts" action="/aircrafts" method="get"> <!-- redirects to /airports?query_airports=... which is 404 -->
    <input class="form-control" id="query-aircrafts-input" type="text" name="query_aircrafts" placeholder="Search..."><!--required pattern="[a-zA-Z]{3}" title="Airport IDs are 3 characters"-->
    <button class="btn" type="submit">Search</button>
  </form>

  <br>
  {% if aircrafts|length == 0 %}
      <div class="well">No aircrafts were found.</div>
  {% elseif error is not null %}
      <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{error}}
      </div>
  {% else %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Purchase Date</th>
        <th>Status</th>
        <th>Number of First Class Seats</th>
        <th>Number of Business Seats</th>
        <th>Number of Economy Seats</th>
      </tr>
    </thead>
    <tbody>
      {% for aircrafts in aircrafts %}
         <tr>
          <td>{{aircrafts.id}}</td>
          <td>{{aircrafts.type.type}}</td>
          <td>{{aircrafts.purchasedDate}}</td>
          <td>{{aircrafts.status}}</td>
          <td>{{aircrafts.type.firstClassSeats}}</td>
          <td>{{aircrafts.type.businessSeats}}</td>
          <td>{{aircrafts.type.economySeats}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock %}
