{% extends "base.twig" %}

{% block content %}
<div class="container">
  <h2>Airports:
    {% if currentUser.isStaff() %}
      <a class="btn" type="submit" style="float: right" href="/airports/add">Add Airport</a>
    {% endif %}
  </h2>

  <form class="form-inline" id="query-airports" action="" method="get"> <!-- redirects to /airports?query_airports=... which is 404 -->
    <input class="form-control" id="query-airports-input" type="text" name="query_airports" placeholder="Search (by anything)"><!--required pattern="[a-zA-Z]{3}" title="Airport IDs are 3 characters"-->
    <button class="btn btn-primary" type="submit">Search</button>
  </form>

  <br>
  {% if airports|length == 0 %}
      <div class="well">No airports were found.</div>
  {% elseif error is not null %}
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{error}}
    </div>
  {% else %}
    {% if error is not null %}
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{error}}
      </div>
    {% endif %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Location</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for airport in airports %}
         <tr>
          <td>
            <a class="like" type="submit" href="/airports/{{airports.id}}">{{airport.id}}</a>
          </td>
          <td>{{airport.name}}</td>
          <td>{{airport.location}}</td>
          {% if currentUser.isStaff() %}
            <td><form id="remove" action="/airports/{{airport.id}}" method="post">
              <input type="hidden" name="_method" value="delete">
              <button class="btn btn-link" type="submit" name="button">Remove</button>
            </form></td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>

<script type="text/javascript">
  $(document).ready(function($) {
    $("#query-airports").submit(function(e) {
      e.preventDefault();
      var input = $("#query-airports-input").val();
      var action = "/airports/search/" + input;
      window.location = action;
    });

    $("button").click(function() { alert('Are you sure to remove airport?'); })     
  });
</script>

<!--<div class="container">-->
  <!-- <h2>Map - Airports</h2> -->
  <!-- <div id="map"></div> -->
<!--</div>-->

<!-- <script type="text/javascript" src="js/map.js"></script> -->
<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDklKARJQmiN7GB4UcIEz0FgOym6Nvv1LM&callback=initMap"></script> -->
{% endblock %}