{% extends "base.twig" %}

{% block content %}
<div class="container">
  <h2>Flights:</h2>
  {% if flights|length == 0 %}
      <div class="well">No flights were found.</div>
  {% else %}
  <div>
    <form class="form-inline" id="search-form" action="" method="get">
    <datalist id="browsers">
      {% set airports = [] %}
      {% for flight in flights %}
        {% if flight.departure not in airports %}
          {% set airports = airports|merge([flight.departure]) %}
          <option value={{flight.departure}}>
        {% endif %}
        {% if flight.arrival not in airports %}
          {% set airports = airports|merge([flight.arrival]) %}
          <option value={{flight.arrival}}>
        {% endif %}
      {% endfor %}
    </datalist>
      <label><h4>From: </h4></label>
      <input class="form-control" id="from" type="text" list="browsers" name="from" placeholder="YVR">
        
      <label><h4>To: </h4></label>
      <input class="form-control" id="to" type="text" list="browsers" name="to" placeholder="YYJ">
      <input class="btn btn-primary" type="submit" value="Search">
    </form>
    <script type="text/javascript">
    $(document).ready(function($) {
      $("#search-form").submit(function(e) {
        var from = $("#from").val();
        var to = $("#to").val();
        var action = "/flights/search/from/" + from + "/to/" + to;
        e.preventDefault();
        window.location = action;
      })
    });    
    </script>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>ID</td>
        <td>Date</td>
        <td>Assigned Aircraft</td>
        <td>Arrival Airport</td>
        <td>Departure Airport</td>
      </tr>
    </thead>
    <tbody>
      {% for flight in flights %}
         <tr>
          <td>{{flight.id}}</td>
          <td>{{flight.datetime}}</td>
          <td>{{flight.assigned}}</td>
          <td>{{flight.arrival}}</td>
          <td>{{flight.departure}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock %}
