{% extends "base.twig" %}

{% block content %}
<div class="container">
  <h2>Accounts:</h2>
  {% if accounts|length == 0 %}
      <div class="well">No accounts were found.</div>
  {% else %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Username</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
    	{% for account in accounts %}
         <tr>
          <td>{{account.id}}</td>
          <td>{{account.name}}</td>
          <td>{{account.email}}</td>
          <td>{{account.username}}</td>
          <td>{{account.password}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock %}
