{% extends "base.twig" %}

{% block content %}
<div class="container">
  <h2>Routes:
  {% if currentUser.isStaff() %}
      <a class="btn" type="submit" style="float: right" href="/routes/add">Add Route</a>
  {% endif %}
  </h2>
  {% if routes|length == 0 %}
      <div class="well">No routes were found.</div>
  {% elseif error is not null %}
      <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{error}}
      </div>
  {% else %}
  <div>
    <form class="form-inline" id="search-form" action="" method="get">
    <datalist id="browsers">
      {% set airports = [] %}
      {% for route in routes %}
        {% if route.departure not in airports %}
          {% set airports = airports|merge([route.departure]) %}
          <option value={{route.departure}}>
        {% endif %}
        {% if route.arrival not in airports %}
          {% set airports = airports|merge([route.arrival]) %}
          <option value={{route.arrival}}>
        {% endif %}        
      {% endfor %}
    </datalist>
      <label><h4>From: </h4></label>
      <input class="form-control" id="from" type="text" list="browsers" name="from" placeholder="YVR" required pattern="[a-zA-Z]{3}" title="Airport IDs are 3 characters">
        
      <label><h4>To: </h4></label>
      <input class="form-control" id="to" type="text" list="browsers" name="to" placeholder="YYJ" required pattern="[a-zA-Z]{3}" title="Airport IDs are 3 characters">
      <input class="btn btn-primary" type="submit" value="Search">
    </form>
    <script type="text/javascript">
    $(document).ready(function($) {
      $("#search-form").submit(function(e) {
        var from = $("#from").val();
        var to = $("#to").val();
        var action = "/routes/search/from/" + from + "/to/" + to;
        e.preventDefault();
        window.location = action;
      })
    });    
    </script>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>Departure Airport</td>
        <td>Name</td>
        <td>Arrival Airport</td>
        <td>Name</td>
        <td>First Class Price</td>
        <td>Business Price</td>
        <td>Economy Price</td>
      </tr>
    </thead>
    <tbody>
      {% for route in routes %}
        {% set departureArrival = routeAirports[loop.index0] %}       
         <tr>
          <td>{{route.departure}}</td>
          {% if departureArrival is not null %}
            <td>{{departureArrival.departure.name}}</td>
          {% else %}
            <td></td>
          {% endif %}
          <td>{{route.arrival}}</td>
          {% if departureArrival is not null %}
            <td>{{departureArrival.arrival.name}}</td>
          {% else %}
            <td></td>
          {% endif %} 
          <td>{{route.firstClass}}</td>
          <td>{{route.business}}</td>
          <td>{{route.economy}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock %}
