{% extends "base.twig" %}

{% block content %}
<div class="container">
  <h2>Tickets:

    {% if currentUser is null %}
      <button class="btn" type="submit" style="float: right" disabled>Book Tickets</button>
    {% else %}
      <a class="btn" type="submit" style="float: right" href="/tickets/book">Book Tickets</a>
    {% endif %}
  </h2>

  {% if tickets|length == 0 %}
      <div class="well">No tickets were found.</div>
  {% else %}
  <table class="table table-hover">
    <thead>
      <tr>
        <td>ID</td>
        <td>Seat Type</td>
        <td>Flight</td>
        <td>Customer ID</td>
      </tr>
    </thead>
    <tbody>
      {% for ticket in tickets %}
         <tr>
          <td>{{ticket.id}}</td>
          <td>{{ticket.seat_type}}</td>
          <td>{{ticket.flightId}}</td>
          <td>{{ticket.customerId}}</td>
          {% if currentUser.isStaff() %}
            <td><form action="/tickets/{{ticket.id}}" method="post">
              <input type="hidden" name="_method" value="delete">
              <button class="btn btn-link" type="submit" name="button">Remove</button>
            </form></td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock %}
